/* Importing Normalize css */

@import url("normalize.css");
@import url("reset.css");

/* General */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    font-size: 18px;
    color: rgb(76, 174, 255);
    background: rgb(245, 247, 249);
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: darkslategray;
}


/* Main */

.main {
    color: black;
    font-size: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40vh 0 0;
    text-align: center;
    font-size: 1.7rem;
}

.text-white {
    color: whitesmoke;
}
